
@{
    ViewBag.Title = "Error";
}
@Styles.Render("~/Content/css")
<div id="page-content">
    <div class="genral-form">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-body">
                        <div class="screen-msg borred">
                            <img src="~/Content/images/error.jpg" class="msg-icon" />
                            <h4 class="clr-red">ERROR</h4>
                            <p class="wow">
                                Something went terribly wrong, would like to try again
                            </p>
                            <a href="/Account/Login" class="loginLink2">Try Again</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

