
@{
    ViewBag.Title = "NotFound";
}
@Styles.Render("~/Content/css")
<div id="page-content">
    <div class="genral-form">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-body">
                        <div class="page-found">
                            <div class="found-pic">
                                <img src="~/Content/images/not-found.png" />
                            </div>
                            <div class="found-msg">
                                <p>Don't Worry you will be back on track in no time!</p>
                                <h2>404 <span>error</span></h2>
                                <p>Requested page or resource not found!</p>
                                <a href="/Account/Login" class="back_btn2">Back to Home Page</a>
                            </div>
                            <div class="break"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

