
@{
    ViewBag.Title = "Success";
}
@Styles.Render("~/Content/css")

<div id="page-content">
    <div class="genral-form">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-body">
                        <div class="screen-msg borgreen">
                            <img src="~/Content/images/success.png" class="msg-icon" />
                            <h4 class="clr-green">SUCCESS</h4>
                            <p>
                                Your Password have been successfully changes.
                            </p>
                            <a href="/Account/Login" class="loginLink">Back to Dashboard</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>